In [59]:
import tweepy
from tweepy import OAuthHandler
import pandas as pd
ENGLISH_STOP_WORDS = frozenset([
    "a", "about", "above", "across", "after", "afterwards", "again", "against",
    "all", "almost", "alone", "along", "already", "also", "although", "always",
    "am", "among", "amongst", "amoungst", "amount", "an", "and", "another",
    "any", "anyhow", "anyone", "anything", "anyway", "anywhere", "are",
    "around", "as", "at", "back", "be", "became", "because", "become",
    "becomes", "becoming", "been", "before", "beforehand", "behind", "being",
    "below", "beside", "besides", "between", "beyond", "bill", "both",
    "bottom", "but", "by", "call", "can", "cannot", "cant", "co", "con",
    "could", "couldnt", "cry", "de", "describe", "detail", "do", "done",
    "down", "due", "during", "each", "eg", "eight", "either", "eleven", "else",
    "elsewhere", "empty", "enough", "etc", "even", "ever", "every", "everyone",
    "everything", "everywhere", "except", "few", "fifteen", "fifty", "fill",
    "find", "fire", "first", "five", "for", "former", "formerly", "forty",
    "found", "four", "from", "front", "full", "further", "get", "give", "go",
    "had", "has", "hasnt", "have", "he", "hence", "her", "here", "hereafter",
    "hereby", "herein", "hereupon", "hers", "herself", "him", "himself", "his",
    "how", "however", "hundred", "i", "ie", "if", "in", "inc", "indeed",
    "interest", "into", "is", "it", "its", "itself", "keep", "last", "latter",
    "latterly", "least", "less", "ltd", "made", "many", "may", "me",
    "meanwhile", "might", "mill", "mine", "more", "moreover", "most", "mostly",
    "move", "much", "must", "my", "myself", "name", "namely", "neither",
    "never", "nevertheless", "next", "nine", "no", "nobody", "none", "noone",
    "nor", "not", "nothing", "now", "nowhere", "of", "off", "often", "on",
    "once", "one", "only", "onto", "or", "other", "others", "otherwise", "our",
    "ours", "ourselves", "out", "over", "own", "part", "per", "perhaps",
    "please", "put", "rather", "re", "same", "see", "seem", "seemed",
    "seeming", "seems", "serious", "several", "she", "should", "show", "side",
    "since", "sincere", "six", "sixty", "so", "some", "somehow", "someone",
    "something", "sometime", "sometimes", "somewhere", "still", "such",
    "system", "take", "ten", "than", "that", "the", "their", "them",
    "themselves", "then", "thence", "there", "thereafter", "thereby",
    "therefore", "therein", "thereupon", "these", "they", "thick", "thin",
    "third", "this", "those", "though", "three", "through", "throughout",
    "thru", "thus", "to", "together", "too", "top", "toward", "towards",
    "twelve", "twenty", "two", "un", "under", "until", "up", "upon", "us",
    "very", "via", "was", "we", "well", "were", "what", "whatever", "when",
    "whence", "whenever", "where", "whereafter", "whereas", "whereby",
    "wherein", "whereupon", "wherever", "whether", "which", "while", "whither",
    "who", "whoever", "whole", "whom", "whose", "why", "will", "with",
    "within", "without", "would", "yet", "you", "your", "yours", "yourself",
    "yourselves"])

In [3]:
consumer_key = 'gD689FCbPxShlOSRckjO2wxGy'
consumer_secret = 'Wv4XfGpuznMMDPDkC3Ifh1LWZOCBWbVMLy15T964hDd2iJ14bh'
access_token = '328927011-rcNHFG9BjVBqfB79yyTfen2Sn4XPN1nBYEj70tCb'
access_token_secret = 'vrpvMGTMnrDpJPVjQEqX2YB94aXYEFZgdoRrOY8jhxBT1'
# create OAuthHandler object
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# set access token and secret
auth.set_access_token(access_token, access_token_secret)
# create tweepy API object to fetch tweets
api = tweepy.API(auth)

In [110]:
query = "'black bear' -filter:retweets"
item = 1000
search = tweepy.Cursor(api.search_tweets,
                            q=query,
                            lang='en',
                            tweet_mode='extended'
                            ).items(item)

holder = pd.DataFrame(columns=['created_at','full_text','id','screen_name'],index=range(item))

In [111]:
for i,tweet in enumerate(search):
    create = tweet.created_at
    full_txt = tweet.full_text
    id = tweet.id
    scr_name = tweet.user.screen_name
    idx = i
    holder.iloc[idx,0] = create
    holder.iloc[idx,1] = full_txt
    holder.iloc[idx,2] = id
    holder.iloc[idx,3] = scr_name

In [112]:
holder.head(10)

,created_at,full_text,id,screen_name
0,2021-11-30 08:13:22+00:00,My favourite blend... is black tea infused wit...,1465594790662537218,maribellebot
1,2021-11-30 08:11:13+00:00,men in black aint lit and going around saying ...,1465594249538244609,ThiefNtheKnight
2,2021-11-30 08:05:58+00:00,Just posted a photo @ Black Bear Lodge https:/...,1465592929150541826,thequivr
3,2021-11-30 08:01:32+00:00,@triviaseemiin Polar bear skin is black :) lov...,1465591813754949635,ijustwake
4,2021-11-30 08:00:02+00:00,Daily Anime - November 2021 \n\nüêàMy Roommate I...,1465591434627665922,museacg_my
5,2021-11-30 07:55:39+00:00,"@giveawayuwu @PlayAdoptMe golden mummy cat , e...",1465590333895544841,lalala_onew
6,2021-11-30 07:54:56+00:00,@AllanCh03173375 @vaeronikarigat1 Shoot they m...,1465590154958188544,Rick85379313
7,2021-11-30 07:37:18+00:00,him: babe would u still fuck me if i were a po...,1465585716994490369,cheytheemenace
8,2021-11-30 07:36:18+00:00,Yet another Himalayan Black Bear spotted at Ha...,1465585463847129089,SikkimChronicle
9,2021-11-30 07:28:59+00:00,MY MATES! \n\nVERMONT BLACK BEAR- https://t.c...,1465583622073765889,RAHEBFORSENATE

In [109]:
holder.created_at = str(holder.created_at)
holder.to_excel('black_bear_29nov_2.xlsx')

In [196]:
df = pd.read_excel('black_bear_29nov.xlsx')

In [58]:
X = df['full_text']
y = df['label']

In [60]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words = ENGLISH_STOP_WORDS)

In [61]:
cv.fit(X)

CountVectorizer(stop_words=frozenset({'a', 'about', 'above', 'across', 'after',
                                      'afterwards', 'again', 'against', 'all',
                                      'almost', 'alone', 'along', 'already',
                                      'also', 'although', 'always', 'am',
                                      'among', 'amongst', 'amoungst', 'amount',
                                      'an', 'and', 'another', 'any', 'anyhow',
                                      'anyone', 'anything', 'anyway',
                                      'anywhere', ...}))

In [62]:

X = cv.transform(X)

In [137]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [138]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [139]:
nb.fit(X_train,y_train)

MultinomialNB()

In [140]:
y_pred_class = nb.predict(X_test)
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.575

In [141]:
from sklearn.ensemble import RandomForestClassifier

In [142]:
rf = RandomForestClassifier(max_depth=5,min_samples_leaf=10,n_estimators=100,n_jobs=-1)

In [143]:
rf.fit(X_train,y_train)

RandomForestClassifier(max_depth=5, min_samples_leaf=10, n_jobs=-1)

In [150]:
y_hat = rf.predict_proba(X_test)

In [151]:
y_hat

array([[0.78672006, 0.21327994],
       [0.78670075, 0.21329925],
       [0.78672006, 0.21327994],
       [0.78670075, 0.21329925],
       [0.78672006, 0.21327994],
       [0.78670075, 0.21329925],
       [0.78672006, 0.21327994],
       [0.7865734 , 0.2134266 ],
       [0.789768  , 0.210232  ],
       [0.78670075, 0.21329925],
       [0.78672006, 0.21327994],
       [0.78670075, 0.21329925],
       [0.78962665, 0.21037335],
       [0.78672006, 0.21327994],
       [0.79270009, 0.20729991],
       [0.78670075, 0.21329925],
       [0.85715347, 0.14284653],
       [0.7920845 , 0.2079155 ],
       [0.78670075, 0.21329925],
       [0.79097221, 0.20902779],
       [0.79270009, 0.20729991],
       [0.78672006, 0.21327994],
       [0.79270009, 0.20729991],
       [0.78670075, 0.21329925],
       [0.78670075, 0.21329925],
       [0.79270009, 0.20729991],
       [0.79270009, 0.20729991],
       [0.78670075, 0.21329925],
       [0.78670075, 0.21329925],
       [0.78670075, 0.21329925],
       [0.78670075, 0.21329925],
       [0.78672006, 0.21327994],
       [0.85715347, 0.14284653],
       [0.79255851, 0.20744149],
       [0.78903125, 0.21096875],
       [0.78670075, 0.21329925],
       [0.80666857, 0.19333143],
       [0.79097221, 0.20902779],
       [0.78672006, 0.21327994],
       [0.78670075, 0.21329925]])

In [197]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [198]:
sid_obj = SentimentIntensityAnalyzer()

In [199]:
sid_obj.polarity_scores('I hate you so much')['compound']

-0.5719

In [168]:
holder.head()

,created_at,full_text,id,screen_name,sentiment
0,2021-11-30 08:13:22+00:00,My favourite blend... is black tea infused wit...,1465594790662537218,maribellebot,1.0
1,2021-11-30 08:11:13+00:00,men in black aint lit and going around saying ...,1465594249538244609,ThiefNtheKnight,1.0
2,2021-11-30 08:05:58+00:00,Just posted a photo @ Black Bear Lodge https:/...,1465592929150541826,thequivr,1.0
3,2021-11-30 08:01:32+00:00,@triviaseemiin Polar bear skin is black :) lov...,1465591813754949635,ijustwake,1.0
4,2021-11-30 08:00:02+00:00,Daily Anime - November 2021 \n\nüêàMy Roommate I...,1465591434627665922,museacg_my,1.0

In [201]:
df['sentiment'] = df.apply(lambda row: sid_obj.polarity_scores(row['full_text']),axis=1)
#df['sentiment_neutral'] = df.apply(lambda row: sid_obj.polarity_scores(row['full_text']),axis=1)
#df['sentiment_positive'] = df.apply(lambda row: sid_obj.polarity_scores(row['full_text']),axis=1)

In [205]:
df.sentiment.apply(pd.Series)

       neg    neu    pos  compound
0    0.075  0.793  0.133    0.3595
1    0.000  0.740  0.260    0.8591
2    0.141  0.725  0.134    0.3089
3    0.091  0.909  0.000   -0.4767
4    0.459  0.541  0.000   -0.8085
..     ...    ...    ...       ...
195  0.211  0.620  0.169    0.0000
196  0.073  0.749  0.178    0.5830
197  0.000  1.000  0.000    0.0000
198  0.090  0.830  0.080    0.1724
199  0.138  0.793  0.068   -0.3729

[200 rows x 4 columns]

In [208]:
df = df.join(df.sentiment.apply(pd.Series))

In [211]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [214]:
df[df['label']==1].tail(5)

,created_at,full_text,id,screen_name,label,sentiment,neg,neu,pos,compound
180,0 2021-11-29 23:33:43+00:00\n1 2021-...,Black Bear from this morning in North Carolina...,1.465247e+18,Brain_Gain_,1,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.000,0.0000
185,0 2021-11-29 23:33:43+00:00\n1 2021-...,This is how fast a fleeing Black Bear can clim...,1.465237e+18,PenelopeRuzy,1,"{'neg': 0.0, 'neu': 0.902, 'pos': 0.098, 'comp...",0.000,0.902,0.098,0.3818
186,0 2021-11-29 23:33:43+00:00\n1 2021-...,Fantastic series of camera trap videos documen...,1.465237e+18,BulgarianBears,1,"{'neg': 0.1, 'neu': 0.742, 'pos': 0.157, 'comp...",0.100,0.742,0.157,0.3182
190,0 2021-11-29 23:33:43+00:00\n1 2021-...,Dispatch 36002: Mossy black bear documented at...,1.465227e+18,YellDispatches,1,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.000,0.0000
194,0 2021-11-29 23:33:43+00:00\n1 2021-...,@guerrero_ramey There are bears here. I had a ...,1.465207e+18,hodsdon_k,1,"{'neg': 0.164, 'neu': 0.759, 'pos': 0.077, 'co...",0.164,0.759,0.077,-0.6110